<p id="notice"><%= notice %></p>

<h1>Secrets</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>

        <% if user_signed_in? %>
        <th>Author</th>
        <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @secrets.each do |secret| %>
      <tr>
        <td><%= secret.title %></td>
        <td><%= secret.body %></td>

        <% if user_signed_in? %>
        <td><%= secret.user.name %></td>
      </tr>
          <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Secret', new_secret_path %>
